*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  font-family: inherit;

}
:root{
  --bg-white:#f8f8f8;
  --text-dark:#333;
  --text-grey:#888;
  --font-lato: Lato, sans-serif;
  --font-fantasy:fantasy, cursive;
  --fs-body:1.5rem;
}
html{
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color:var(--bg-white) ;
  color:var(--text-dark) ;
  font-family: var(--font-lato);
}
header,
main,
article,
section,
img{
  display: block;
}
button,
input{
  outline: none;
}
ul{
  list-style: none;
}
img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}
.heading{
  font-weight: 700;
  font-size: var(--fs-body);
  border-bottom: .2rem solid var(--text-dark);
  padding: 3rem 0 1rem;
  text-transform: uppercase;

}
.header {
  display: block;
  text-align: right;
}
.matrix{
  width: 100%;
  max-width: 100%;
}
.matrix__link {
  font-family: var(--font-fantasy);
}

@media (max-width: 768px) {

  .header {
     text-align: center;
  }

}
.todo{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.add-task,
.incomplete-tasks,
.completed-tasks
{
  width: 100%;
  max-width: 100%;
}
.add-task__wrapper {
  display: flex;
  justify-content: space-between;
}
.add-task__label{
  display: block;
  margin: 0 0 2rem;
}
.add-task__input{
  flex: 1;
  max-width: 31.8rem;
}
.btn {
  background: transparent;
  border: 1px solid transparent;
  font-size: var(--fs-body);
  width: 6rem;
  cursor: pointer;
  color: var(--text-grey);
}
.btn_theme_edit{
  color: var(--text-grey);
}
.btn_edit:hover {
  color: #3a3A3a;
}
.btn__img{
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn_theme_delete:hover .btn__img{
  transform: rotateZ(0);
}
.text-input{
  font-size: 1.8rem;
  line-height: 1;
  padding: 0 .9rem;
  border: 1px solid #dDd;
  background: transparent;
  border-radius: .6rem;
  font-family: var(--font-lato);
  color: var(--text-grey);
  margin: 0 1rem;
}
.text-input:focus {
  color: var(--text-dark);
}
.task{
  width: 100%;
  display: flex;
  align-items: center;
}
.task__checkbox {
  margin: 0 1rem;
}
.task__label,
.task__input{
  flex: 1;
  max-width: 22.6rem;
  margin-right: auto;
}
.task__label{
  font-weight: 700;
  font-size: var(--fs-body);
  padding-left: 2rem;
  font-size: 1.8rem;
  box-sizing: border-box
}
.task__label_completed {
  text-decoration: line-through;
  color: var(--text-grey);
}
.task__input_hidden,
.task__label_hidden {
  display: none;
}
.completed-tasks__item,
.incomplete-tasks__item{
  overflow: hidden;
  padding: 2rem 0;
  border-bottom: 1px solid #eee;
}
